* {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial , "Microsoft YaHei", "SimSun", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
a {
    text-decoration: none;
}
body{background-color: #f8f8f8;}
#opacity{
	width: 100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	opacity: 0.7;
	display: none;
	z-index: 1;
	
}
.login-area{
	width: 390px;
	height: 290px;
	background-color: #fff;
	padding: 30px;
	box-sizing: border-box;
	margin: -195px -145px;/* 取边框大小的一半修正使其居中*/
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: none;
}
.login-area .close-btn{
	position: relative;
	right: -340px;
	top: -20px;
	cursor: pointer;
}
h3{
	font-weight: normal;
}
.login-area input{
	width: 300px;
	font-size: 16px;
	margin:8px auto;
	padding: 12px;
	background-color: #f8f8f8;
	border: 1px solid #dfdfdf;
	box-shadow: 2px 2px #f1f1f1 inset;
	box-sizing: border-box;
}
.login-area .login-btn{
	width: 300px;
	height: 50px;
	color: #fff;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	margin-top: 20px;
	background:#2cb150; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #2cb150, #14912f);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#2cb150), to(#14912f));  
    background:-o-linear-gradient(top, #2cb150, #14912f); 	

}
.video-mask{
	width: 960px;
	height: 600px;
	background-color: #fff;
	padding: 0 30px;
	box-sizing: border-box;
	margin: -300px 0 0 -480px;/* 取边框大小的一半修正使其居中*/
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: none;    
}
.video-mask .close-btn{
	position: relative;
	right: -900px;
	top: 15px;
	font-size: 20px;
	cursor: pointer;
}

.video-mask video{
	width: 890px;
	height: 500px;
	margin-top: 10px;
	
}

.infobar {
	 width: 100%;
	 height: 36px;
	 background-color: #f3f3f3;
	 font-size: 12px;
	 line-height: 36px;	  
}
.infobar .infobar-content{
	width: 1200px;
	height: 36px;
	margin: 0 auto;
}
.infobar .infobar-left{
	float: left; 
}
.infobar .infobar-left a{
	color: #21a557;
	margin-left: 16px;
}
.infobar #infobar-right{
	float: right;
	vertical-align:middle;
	cursor: pointer;	
}
.infobar #X{
	font-size: 16px;	
}
.top .top-content{
	width: 1200px;
	height: 90px;
	margin: 0 auto;
	line-height: 90px;
}
.top .top-logo-area{
	float: left;
	margin-right:36px;
	font-size: 22px; 	
}
#logo-en {
	margin-right: 10px;
	padding-right: 10px; 
	color: #21a557;
	border-right: 1px solid #21a557;
}
.top .top-follow-area{
	float: left;
	font-size: 12px;
}
.top .top-follow-area .btn{
	display: inline; 
    margin-right: 10px;
    padding: 2px 10px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    background-color: #21a557;
    color: #fff;
    cursor: pointer;
}
.top .top-follow-area .follow-cancel{
	border: 1px solid #a8a8a8;
	border-radius: 3px;
	padding: 1px 8px;
	background-color: #f3f3f3;
	display: none;	
}
.top .top-follow-area .follow-status{
	padding-right: 5px;
	word-spacing: 200px;
	border-right: 1px solid #a8a8a8;
}
.top .top-follow-area .btn-cancel{
	
	margin-left: 5px;
}
.top .top-follow-area .btn-cancel:hover{
	color: #21a557;
	cursor: pointer;
}
.top .top-nav{
	float: right;
}
.top .top-nav li{
	display: inline;
	margin-right: 25px;
}
.top .top-nav li a{
	color: #000;
}
.top .top-nav li a:hover{
	color: #21a557;
}
 /*CSS3图标 */
#top-search{
	display:inline-block; 
	position:relative;
	height: 20px;
    margin-right: 10px;
    padding: 0 10px;
    line-height: 20px;
    text-align: center;} 

#top-search:before, #top-search:after{content:''; height:20px; display:block; position:absolute; top:0; left:0; }

#top-search:before{width:20px; border:2px #333 solid; border-radius:100%;-webkit-border-radius:100%;-moz-border-radius:100%;}

#top-search:after{width:3px; background:#333; transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg); top:17px; left:24px;}
.carousel{
	z-index: 1;
	position: relative;
	}
.carousel img{
	opacity: 0;
 	width: 100%;
	 position: absolute;
    transition: opacity .5s ease-in-out;
}
.carousel img:first-child{opacity: 1;}
.carousel .pointer{
	position: relative;
	width: 100px;
	height: 10px;
	z-index: 299;
	bottom: 30px;
	left: 47%;
	
}
.carousel .pointer li{
	cursor: pointer;
	z-index: 20;
	float: left;
	list-style: none;
	background-color: #fff;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	margin-right: 13px;
	
}
.carousel .pointer  .active{
	background-color: #333333;
}
.text{
	width:100%;
	margin: 30px auto;
}
.text table{
	border:none;
	border-spacing: 20px 0px;
	text-align: justify;
	width: 1200px;
	margin: 0 auto;
	
	
	
}
.text table h3{
	text-align: left;	
}
.text table th{
	width: 33%;
}
.text table p,.text table a{
	font-weight: normal;
	font-size: 14px;
	
}
.text table a{
	color: #21a557;	
}
.text table a:hover{
	text-decoration: underline;
}
#open{
	background: url("imgs/icon-open.png") no-repeat ;
	background-position:top left;
	
}
#study{
	background: url("imgs/icon-study.png") no-repeat ;
	background-position:top left;
	
}
#mooc{
	background: url("imgs/icon-mooc.png") no-repeat ;
	background-position:top left;
	
}
#open *,#study *,#mooc *{
	margin-left: 90px;
}
.environment{position: relative;}
.environment img{
	width: 100%;
	margin-bottom: 70px;
}
.content{
	position: relative;
    width: 1200px;
    margin: 0 auto;
}
.content .course-display-area{
	width: 960px;
}
.tab-btn{
    width: 200px;
    height: 50px;
	font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #fff;
    color: #dddddd;
    cursor: pointer;
    box-shadow: 0 2px 2px #ccc;
	list-style: none;
	display: inline-block;
	margin: 0 0 30px 10px;
}
.tab-btn.active {
    background-color: #21a557;
}
.tab-btn a{
	color: #000;
}
.tab-btn.active a{
	color: #fff;
}

.course-item {
	width: 220px;
	height: 220px;
	list-style: none;
	background-color: #fff;
	display: inline-block;
	margin: 10px;
    box-shadow: 0 2px 2px #ccc;
	
}
.course-item:hover{
	color:#21a557;
	box-shadow: 2px 2px 2px gray;
	opacity: 0.7;
    filter: alpha(opacity=70); 
	background-color: #fff;
	cursor: pointer;
}

.course-item img{
	width: 100%;
	height: 125px;
}
.course-item .components{
	width: 100%;
	padding: 0 10px;

}
.course-item p{
	width: 200px;
	font-size: 12px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis; 
	
}
.course-item .course-tag{
	color: #a8a8a8;
	margin-top: 5px;
}
.course-item .num_of_people{
	display: inline-block;
	height: 18px;
	margin: 5px 0;
}
.course-item .enroll-people-num{
	font-size: 12px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	color: #a8a8a8;
	padding-right: 2px;
	
}
.course-item .enroll-people-num:before{
	content:url(imgs/user.png);
}
.course-item .course-price{
	color:#ff3f00;
	
}
.page-nav-btn{
	list-style: none;
	float: right;
}
.page-nav-btn .item{
	display: inline-block;	
	margin: 10px;
}
.page-nav-btn .item:hover{
	color:#21a557;
	cursor: pointer;
}
.page-nav-btn .next-page,.page-nav-btn .last-page{
	background-color: #9dd8b1;
	display: inline-block;
	padding: 2px;
	color: #fff;
}
.slide{
	position: absolute;
	top: 0;
	right: 0;
}

.slide .video-area{
	width: 225px;
	height: 230px;
	background-color: #fff;
	box-shadow: 0 2px 2px #ccc;
	padding: 0 20px ;
	box-sizing: border-box;
	margin-bottom: 10px;
}
.slide .video-area:hover{
	box-shadow: 2px 2px 2px #ccc;
}
.slide h3{
	font-size: 16px;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
}
.slide p{
	font-size: 14px;
	color: #666666;
	margin: 8px 0 8px 0;
	
}
.slide .video-area img{
	cursor: pointer;
}
.slide .latest-rank{
	width: 225px;
	height: 660px;
	background-color: #fff;
	/*margin-top: 10px;*/
	box-shadow: 0 2px 2px #ccc;
	list-style: none;
	padding: 0 20px;
	box-sizing: border-box;
	overflow: hidden;
}
.slide .latest-rank:hover{
	box-shadow: 2px 2px 2px #ccc;
}
.slide .latest-rank .rank-list .rank-list-item{
	display: block;
	margin: 0 auto 10px;
	height: 50px;
}
.slide .latest-rank .rank-list img{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
	
}
.slide h4{
	font-weight: normal;
	font-size: 14px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;	
	margin-bottom: 10px;
}
.slide .latest-rank .rank-list .learner-count{
	font-size: 12px;
	color: #bbbbbb;	
	margin-left: -3px;/*多了个user的头像偏移*/
}
.slide .latest-rank .rank-list .learner-count:before{
	content:url(imgs/user.png);
}
.footer{
	position: absolute;
	width: 100%;
	height: 260px;
	background: #2c3339;
	margin-top: 120px;
	color: #a8a8a8;
}
.footer .beian{
	float: left;
	
}
.footer .beian span{
	display: inline-block;
	font-size: 22px;
	color: #21a557;
	margin-bottom: 30px;
}
.footer .beian p{
	font-size: 12.5px; 
}
.footer .footer-container{
	position: relative;
	width: 1200px;
	margin: 80px auto 0;
}
.footer .footer-right{
	margin-right: 200px;
	float: right;
	font-size: 15px;	
}
.footer .footer-right h6{
	font-size: 12.5px;
	font-weight: normal;
}
.footer .footer-right .we li:last-child::after{
	content: url('imgs/Sina_Weibo_Logo_Black_RGB_Cn1.png');
	margin-left: 10px;
	float: right;
	/*margin-top: 0px;*/
}
.footer ul{
	display: inline-block;
	margin: 10px 40px;
	list-style: none;
	line-height: 150%;
	vertical-align: top;
}
.footer a {
	color: #a8a8a8;
}
.footer a:hover{
	text-decoration: underline;
}
@media screen and (max-width:1205px) {
	.infobar .infobar-content{
		width: 960px;
	}
	.top .top-content{
		width: 960px;
	}
	.text table{
		width: 960px;
	}
	.content{
		width: 960px;
	}
	.content .course-display-area{
		width: 720px;
	}
	.footer .footer-container{
		width:960px;
	}
	.footer .footer-right{
		margin-right: 100px;
	}
	.carousel .pointer li{
		bottom: 10px;
	}
	
}
